{% extends 'base.html.twig' %}

{% block title %}CHANTIER{% endblock %}

{% block body %}
    <br>
    <h1 class="text-center">CREATION D'UN CHANTIER</h1>
    <br>




    <table class="table table-bordered align-content-center mx-auto" style="width: 90%">
        <thead>
            <tr class="thead-dark ">
                <th scope="col">
                    {{ include('chantier/_form.html.twig') }}

                    <button type="button" class="btn btn-outline-primary"><a href="{{ path('chantier_index') }}">Retour à la liste</a></button>
                </th>
            </tr>
        </thead>
    </table>
<br>


{% endblock %}