{% extends 'base.html.twig' %}

{% block title %}Edit Materiaux{% endblock %}

{% block body %}
    <h1>Edit Materiaux</h1>

    {{ include('materiaux/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('materiaux_index') }}">back to list</a>

    {{ include('materiaux/_delete_form.html.twig') }}
{% endblock %}
