{% extends 'base.html.twig' %}

{% block title %}New Materiaux{% endblock %}

{% block body %}
    <h1>Create new Materiaux</h1>

    {{ include('materiaux/_form.html.twig') }}

    <a href="{{ path('materiaux_index') }}">back to list</a>
{% endblock %}
