<form method="post" action="{{ path('stock_tache_utilise_delete', {'id': stock_tache_utilise.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet item ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stock_tache_utilise.id) }}">
    <button class="btn btn-outline-danger mx-auto">Supprimer</button>
</form>
