{% extends 'base.html.twig' %}


{% block body %}

<br>
<h1 class="text-center">Modification du Stock utilisé</h1>
<br>

<table class="table table-bordered align-content-center mx-auto" style="width: 90%">
    <thead>
    <tr class="thead-dark ">
        <th scope="col">
            {{ include('stock_tache_utilise/_form.html.twig', {'button_label': 'Update'}) }}

            <button type="button" class="btn btn-outline-primary"><a href="{{ path('stock_tache_utilise_index') }}">Retour à la liste</a></button>


            {{ include('stock_tache_utilise/_delete_form.html.twig') }}
        </th>
    </tr>
    </thead>
</table>

{% endblock %}
