<form method="post" action="{{ path('tache_delete', {'id': tache.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet item ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tache.id) }}">
    <button class="btn">Delete</button>
</form>
