<form method="post" action="{{ path('propose_delete', {'id': propose.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet item ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ propose.id) }}">
    <button class="btn">Delete</button>
</form>
