<form method="post" action="{{ path('prestataire_delete', {'id': prestataire.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet item ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prestataire.id) }}">
    <button class="btn btn-outline-success mx-auto">Supprimer</button>
</form>
