<form method="post" action="{{ path('type_batiment_delete', {'id': type_batiment.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet item ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ type_batiment.id) }}">
    <button class="btn btn-outline-success mx-auto">Supprimer</button>
</form>
