{% extends 'base.html.twig' %}


{% block body %}
    <br>
    <h1 class="text-center">Modification de la commande</h1>
    <br>

<table class="table table-bordered align-content-center mx-auto" style="width: 90%">
    <thead>
    <tr class="thead-dark ">
        <th scope="col">
            {{ include('commande/_form.html.twig', {'button_label': 'Enregistrer'}) }}

            <button type="button" class="btn btn-outline-primary"><a href="{{ path('commande_index') }}">Retour à la liste</a></button>

            {{ include('commande/_delete_form.html.twig') }}

        </th>
    </tr>
    </thead>
</table>
{% endblock %}
