<form method="post" action="{{ path('maitre_ouvrage_delete', {'id': maitre_ouvrage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ maitre_ouvrage.id) }}">
    <button class="btn">Delete</button>
</form>
