    @import "custom";
    @import "~bootstrap/scss/bootstrap";

    body {
        background: linear-gradient(white, 70%, #f1c987);
        min-height: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;

    }

    a
    {
        text-decoration: none;
        color: black;
    }

    button{
        margin-left:10px;
        margin-right:10px;
    }