<form method="post" action="{{ path('statut_tache_delete', {'id': statut_tache.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet item ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ statut_tache.id) }}">
    <button class="btn btn-outline-danger mx-auto">Supprimer</button>
</form>
