{% extends 'base.html.twig' %}


{% block body %}

<br>
<h1 class="text-center">Nouvelle Statut Tache</h1>
<br>

<table class="table table-bordered align-content-center mx-auto" style="width: 90%">
    <thead>
    <tr class="thead-dark ">
        <th scope="col">
            {{ include('statut_tache/_form.html.twig') }}

            <button type="button" class="btn btn-outline-primary"><a href="{{ path('statut_tache_index') }}">Retour à la liste</a></button>

        </th>
    </tr>
    </thead>
</table>

{% endblock %}
