<form method="post" action="{{ path('fournisseur_delete', {'id': fournisseur.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet item ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ fournisseur.id) }}">
    <button class="btn btn-outline-danger mx-auto">Supprimer</button>
</form>
