{% extends 'base.html.twig' %}

{% block title %}mettre a jour le statut{% endblock %}

{% block body %}
    <h1>mettre a jour le statut</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

{% endblock %}
