{% extends 'base.html.twig' %}

{% block title %}Edit Phase{% endblock %}

{% block body %}
    <h1>Edit Phase</h1>

    {{ include('phase/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('phase_index') }}">back to list</a>

    {{ include('phase/_delete_form.html.twig') }}
{% endblock %}
