{% extends 'base.html.twig' %}

{% block title %}New Phase{% endblock %}

{% block body %}
    <h1>Create new Phase</h1>

    {{ include('phase/_form.html.twig') }}

    <a href="{{ path('phase_index') }}">back to list</a>
{% endblock %}
